<h1>Tags</h1>

<div id="tags">
  <div class="mb-5">
    <% @tags.each do |tag| %>
      <%= link_to tag.name, tag_path(tag), class: "btn btn-success btn-sm ms-2" %>
    <% end %>
  </div>

  <% @tags.each do |tag| %>
    <%= render tag %>
    <p>
      <%= link_to "Show this tag", tag %>
    </p>
  <% end %>
</div>

